body {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace
}

h1 {
    font-weight: bold;
    text-align: center;
}

h2 {
    font-weight: bold;
}


h3 {
    font-weight: bold;
}